Repository evargast/webpack-react-spectrum: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format:fix, npm run lint:fix

.lintstagedrc:

{
    "*.{css,json,md}": [
        "npm run format:fix"
    ],
    "*.{js,jsx,ts,tsx}": [
        "npm run format:fix",
        "npm run lint:fix"
    ]
}

Update webpack config to accepts css files
  package-lock.json
  package.json
  src/src/types/index.d.ts
  webpack.common.js
Due: npm run format:fix, npm run lint:fix

Update dependencies + Storybook
  .eslintrc
  .storybook/main.js
  .storybook/preview.js
  .storybook/storybook.css
  jest.config.js
  package-lock.json
  package.json
  plopfile.js
  public/index.html
  src/components/App/App.story.mdx
  src/components/App/App.story.tsx
  src/components/App/App.test.tsx
  src/components/App/App.tsx
  templates/component.hbs
  templates/mdx-story.hbs
  templates/story.hbs
  webpack.common.js
Due: npm run format:fix, npm run lint:fix

Update dependencies
  package-lock.json
  package.json
Due: npm run format:fix

Revert "Update dependencies"
  package-lock.json
  package.json
Due: npm run format:fix

Update storybook and deps
  .storybook/preview.js
  package-lock.json
  package.json
  plopfile.js
  src/components/App/App.tsx
  templates/mdx-story.hbs
  templates/story.hbs
  templates/tsx-story.hbs
Due: npm run format:fix, npm run lint:fix

Update example story, test and readme
  README.md
  package-lock.json
  package.json
  src/components/App/App.css
  src/components/App/App.story.mdx
  src/components/App/App.test.tsx
  src/components/App/App.tsx
  src/components/index.tsx
Due: npm run format:fix, npm run lint:fix

Fix types folder structure
  src/types/index.d.ts
Due: npm run format:fix, npm run lint:fix

Update dependencies
  .eslintrc
  package-lock.json
  package.json
Due: npm run format:fix

Add clean webpack plugin
  package-lock.json
  package.json
  webpack.common.js
Due: npm run format:fix, npm run lint:fix

Update template
  templates/component.hbs
Due: none

Update plop config and storybook
  .storybook/main.js
  package-lock.json
  package.json
  plopfile.js
  src/components/App/App.story.mdx
  src/components/App/App.story.tsx
  templates/mdx-story.hbs
  templates/tsx-story.hbs
Due: npm run format:fix, npm run lint:fix

Update dependencies
  .storybook/main.js
  package-lock.json
  package.json
Due: npm run format:fix, npm run lint:fix

Drop MDX support from storybook and plop
  .eslintrc
  .storybook/main.js
  README.md
  jest.config.js
  package-lock.json
  package.json
  webpack.common.js
Due: npm run format:fix, npm run lint:fix

Add "test:ci" script
  package.json
Due: npm run format:fix

Make plopped component tests pass
  templates/component.hbs
Due: none

Add "test:allthethings" script
  package.json
Due: npm run format:fix

Add GitHub Actions CI
  .github/workflows/node.js.yml
  README.md
Due: npm run format:fix

Add .editorconfig
  .editorconfig
Due: none

Add License.md
  License.md
Due: npm run format:fix

Upgrade package-lock.json to version 2
  package-lock.json
Due: npm run format:fix

update dependencies
  .editorconfig
  package-lock.json
  package.json
  src/components/App/App.tsx
Due: npm run format:fix, npm run lint:fix

ci(jenkins): add Jenkinsfile
  Jenkinsfile
  jest.config.js
Due: npm run format:fix, npm run lint:fix

build: add stylelint
  .github/workflows/node.js.yml
  .stylelintrc
  package-lock.json
  package.json
Due: npm run format:fix

Fix CSS to adhere to stylelint rules
  .stylelintrc
  .stylelintrc.json
  src/components/App/App.css
  src/components/App/App.tsx
Due: npm run format:fix, npm run lint:fix

build: eliminate warning about jsxBracketSameLine
  prettier.config.js
Due: npm run format:fix, npm run lint:fix

update dependencies
  package-lock.json
  package.json
  src/components/App/App.tsx
Due: npm run format:fix, npm run lint:fix

migrate to webpack 5
  .storybook/main.js
  package-lock.json
  package.json
  plopfile.js
  src/components/App/App.story.tsx
  src/components/App/App.test.tsx
  src/components/App/App.tsx
  templates/component.hbs
  templates/index.hbs
  templates/test.hbs
  templates/tsx-story.hbs
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: npm run format:fix, npm run lint:fix

Update App index file
  src/components/App/index.ts
  src/components/index.tsx
Due: npm run format:fix, npm run lint:fix

Update RSP Provider import
  src/components/App/App.tsx
Due: npm run format:fix, npm run lint:fix

update webpack common config
  webpack.common.js
Due: npm run format:fix, npm run lint:fix

update hash
  webpack.common.js
Due: npm run format:fix, npm run lint:fix

Update package.json
  package.json
Due: npm run format:fix

chore: add React Spectrum test-utils
  .github/workflows/node.js.yml
  README.md
  package-lock.json
  package.json
  src/components/App/App.test.tsx
  src/components/App/App.tsx
  src/test-utils/index.ts
  src/test-utils/rspRender.tsx
  templates/test.hbs
  yarn.lock
Due: npm run format:fix, npm run lint:fix

chore: update dependencies
  package.json
  yarn.lock
Due: npm run format:fix

update dependencies
  package.json
Due: npm run format:fix

update dependencies
  package.json
  yarn.lock
Due: npm run format:fix

Remove default exports
  src/components/App/App.tsx
  templates/component.hbs
  templates/index.hbs
  templates/test.hbs
  templates/tsx-story.hbs
Due: npm run format:fix, npm run lint:fix

chore: migrate to webpack 5 + add commitizen
  .eslintrc
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  .prettierignore
  .storybook/main.js
  .storybook/main.ts
  .storybook/preview.tsx
  commitizen.config.cjs
  commitlint.config.js
  package.json
  prettier.config.js
  src/components/App/App.story.tsx
  src/components/App/App.test.tsx
  src/components/App/App.tsx
  src/components/index.tsx
  templates/component.hbs
  templates/index.hbs
  templates/test.hbs
  templates/tsx-story.hbs
  tsconfig.json
  webpack.common.js
  webpack.dev.js
  yarn.lock
Due: npm run format:fix, npm run lint:fix
